etc/schema/xhtml-applet.rnc

# Applet Module

applet =
  element applet {
    applet.attlist,
    # No restrictions on mixed content in TREX.
    param*,
    Flow.model
  }
applet.attlist =
  Core.attrib,
  attribute alt { Text.datatype },
  attribute archive { text }?,
  attribute code { text }?,
  attribute codebase { URI.datatype }?,
  attribute object { text }?,
  attribute height { Length.datatype },
  attribute width { Length.datatype }
Inline.class |= applet
